.popupNav {
    z-index: 5;
    position: fixed;
    bottom: 25px;
    left: 25px;
}

.popupNav button {
    background-color: blue;
}
.addressSearchInput:-internal-autofill-selected {
    background-color: #EAEAEA !important;
}

 .addressSearchInput {
    
        width: 100%;
    font-size: 16px;
    color: #000;
    background-color: #EAEAEA;
    outline: none;
    border: none;
    padding: 15px 25px;
    /* min-height:50px; */
    font-family: sofia-pro, sans-serif;
    font-size: 1rem;
    border-radius: 7.5px;
 }

.addressSearchWrapper label {
    padding-bottom: 10px;
    font-weight: 700;
    display: block
}


/* onboarding.css */


.active {
    background-color: #9e1d1d;
    color: white;

}

.addressSearchResults {
    margin-top: -35px;
    padding-top: 35px;
    /* padding-left: 20px; */
    z-index: -1;
    background-color: #f9f9f9;
    color: black;
    width: 65vw;
    border-radius: 15px;

}

.addressSearchResults ul {
    display: flex;
    flex-direction: column;
}

.onboardingContent ul li {
    list-style: none;
    ;
}

.addressSearchResults ul li {
    padding: 15px 20px 15px 20px;
    list-style: none;
    transition: background-color 0.2s;
    background-color: #000;
    /* border-radius: 0px !important; */
}

.addressSearchResults ul li:hover {
    background-color: #ff9d90;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.addressSearchResults ul li:hover {
    background-color: #ff9d90;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}


/******** Onboarding ********/

.onboardingWrapper {
    /* width: 1050px; */
    width: 100dvw;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 400px; */
    border-radius: 15px;
    text-align: left;
    z-index: 4;
    color: #fff;
}


.backgroundOverlay {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100dvh;
    width: 100dvw;
    z-index: 3;
    /* background:#000; */
    /* opacity: 0.2; */
    /* filter:blur(5px); */
    position: absolute;
    flex-direction: column;
}

.onboardingContent {
    background-color: #0C1821;
    /* Rich Black */
    max-width: 800px;
    padding: 10px 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: absolute;
    flex-direction: column;
    height: auto;
    min-height: 100dvh;
    width: 100vw;

}


.rowSplit {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    /* padding: 20px 0px;    */
}

.addressSearchWrapper {
    padding: 20px 0px;
    width:100%;
}

.rowSplitAddress {
    position: relative;
    z-index: 8 !important;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.rowSplitAddress input:-webkit-autofill,
    .rowSplitAddress input:-webkit-autofill:hover,
    .rowSplitAddress input:-webkit-autofill:focus,
    .rowSplitAddress input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important; /* Changes background */
      -webkit-text-fill-color: black !important; /* Changes text color */
    }

.inputTextBox {
    margin: 10px 0px;
    border-radius: 8px;
    border: none;
    width: 100%;
    color: #fff !important;
    background: #223646;
}

.inputTextBox::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ddd;
}

.inputTextBox:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ddd;
    opacity: 1;
}

.inputTextBox::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ddd;
    opacity: 1;
}

.inputTextBox:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ddd;
}

.inputTextBox::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ddd;
}

.inputTextBox::placeholder {
    /* Most modern browsers support this now. */
    color: #ddd;
}

.inputTextBox:focus {
    outline-style: solid;
    outline-color: #5384ac;
    outline-width: 2px;
    /* outline: #FFDD00 !important; */
    /* outline: none !important; */
    caret-color: #223600;
}

.smallInput {
    width: 80px;
    padding: 15px 20px;
}

.bigInput {
    padding: 15px 20px;

}

.addressInput {
    z-index: 4;
}

.onboardingSearchButton {
    z-index: 5;
    color: white;
    cursor: pointer;
    background-color: #0088FF;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    position: absolute;
    font-weight: 800;
    border: none;
    position: absolute;
    right: 6.5px;
    top: 6.5px;
}

.onboardingWrapper form {
    width: 100%;
}


.onboardingResults {
    padding-top:30px;
    position: relative;
    opacity: 0;
    margin-top: -30px;
    /* margin-top: -400px !important; */
}


.onboardingResults ul {
    padding-top: 40px;
    margin-top: -30px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: #223646;
    border-radius: 10px;

}

.onboardingResults ul li {
    padding: 15px 20px 15px 20px;
    border-radius: 15px;
    color: white;
    margin-bottom: 10px;
}

/* buttons */
.onboardingVerify {
    border: none;
    border-radius: 8px;
    background: #FF0000;
    opacity: 0.8;
    padding: 15px 25px;
    height: min-content;
    font-size: 0.9rem;
    font-family: 'Greycliff CF', sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
    color: #fff !important;
}


.submitButton {
    font-size: 0.9rem;
    font-family: 'Greycliff CF', sans-serif;
    letter-spacing: 0%;
    color: #000;
    padding: 15px 29px;
    border-radius: 50px;
    border: none;
    font-weight: 900;
    text-align: center;
    background: #FFD400;
    transition: ease-out 0.12s;
    cursor: pointer;
}

.submitButton:hover {
    background: #FFAE00;
}


/* fonts */

.onboardingWrapper h3 {
    font-size: 2.2rem;
    font-family: 'Sofia-pro', sans-serif;
    letter-spacing: 0.1px;
    color: #fff;
    padding: 10px 0px;
    margin-bottom: 10px;
    font-weight: 500;
    ;
}

.onboardingWrapper p {
    font-family: 'Greycliff CF', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6rem;;
    color: #fff;

}

.onboardingContent form {
    /* width: 500px; */
}

.inputTextBox {
    font-family: 'Greycliff CF', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
}


.onboardingContent h3 {
    font-weight: 800;
    font-size: 2.5rem;
}

.mapboxgl-popup {
  max-width: 300px !important; /* or whatever width you need */
}


.moderatorOverlay {
  bottom: 20px;
  min-width: 240px;
  left: 20px;
  z-index: 10;
  max-width: 280px;
  overflow: scroll;
  z-index: 10;
  max-height: 380px;
  padding: 20px 0px;
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(500px);
  -webkit-backdrop-filter: blur(500px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  font-family: 'nexa', sans-serif;
  font-size: 1.3rem;
  /* min-width: 150px; */
  text-align: center;
  color: white;
}


.moderatorOverlay ul {
    padding: 10px 0px;
}

.moderatorOverlay li {
    list-style: none;
    padding: 10px 20px;
}

.moderatorOverlay li h3 {
    text-align: start;
    font-size: 1rem;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 600;
    margin: 0px;
}
.moderatorOverlay li h3 span {
    font-weight: 300;
    font-size: 1rem;
}
.moderatorOverlay li h5 {
    font-size: 1.4rem;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 300;
    margin: 0px;
}   


.moderatorOverlay li:hover {
    background-color: var(--accent);
    color: white;
    cursor: pointer;
}

.moderatorOverlay h2 {
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}



.splitRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
}

.splitRow p {
    font-size: 1.4rem ;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
}

.moderatorOverlay   .splitRow label {
    font-weight: 600;
    font-size: 0.9rem;
}

.moderatorOverlay .splitRow p {
    margin: 0px;
}



.reportPopup {
    position: absolute;
    width: 90vw;
    max-width: 600px;
    /* background-color: #0C1821; */
    color: black;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@media screen and (min-width: 768px) {

    .moderatorOverlay {
        max-width: 200px;
    }


    .onboardingContent {
        padding: 50px 80px;
        height: auto;
        max-width: 600px;
        border-radius: 20px;
        min-height: unset;
    }

    .onboardingContent h3 {
            padding: 20px 0px;
        font-size: 2.5rem;
    }


    .welcomeSearchBar {
        width: 40vw;
    }

    .addressSearchResults {
        width: 40vw;
    }

}