.popupNav {
    z-index: 5;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.popupNav button {
    background-color: blue;
}





/* onboarding.css */

.welcomeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FF1F00;
    width: 100vw;
    z-index: 4;
    position: absolute;
    flex-direction: column;
}

.welcomeWrapper h2 {
    font-size: 3rem;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -2%;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
}

.welcomeSearchBar {
    margin-top: 20px;
    font-weight: 800;
    font-size: 1.1rem;
    background: #f9f9f9;
    border: none;
    width: 65vw;
    text-align: center;
    z-index: 2;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.28);
    height: 60px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    color: #000;
    padding: 15px 36px;
    border-radius: 20px;
}

.welcomeSearchBar:focus-visible {
    outline: none;
    /* outline-width: 0.5px; */
    /* outline-color: blue; */
}

.trendingWrapper {
    display: flex;
    justify-content: center;
    align-items: bottom;
    /* height: 100vh; */
    /* width: 100vw; */
    z-index: 4;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    position: fixed;
    bottom: 40px;
    left: 75px;
}

.trendingCardWrapper {
    font-size: 1.1rem;
}

.trendingCardWrapper h2 {
    padding: 10px;
}

.trendingCard {
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    margin: 5px 0px;
    width: 300px;
    /* padding: 20px 30px; */
    transition: all 0.1s ease-in-out;
}

.active {
    background-color: #9e1d1d;
    color: white;

}

.trendingCard:hover {
    /* background-color: #ccc; */
    /* transform: translateY(-5px); */
    color: white;
    background-color: #9e1d1d;
}

.trendingCard h3 {
    font-size: 1.2rem;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -2%;
    /* color: #000; */
    text-align: center;
}

.trendingCard p {
    font-size: 0.85rem;
    line-height: 1.44rem;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -2%;
    /* color: #000; */
    font-weight: 300;
    padding: 10px 0px;
    width: 260px;
    margin: 0 auto;
    text-align: center;
}


.addressSearchResults {
    margin-top: -35px;
    padding-top: 35px;
    /* padding-left: 20px; */
    z-index: -1;
    background-color: #f9f9f9;
    color: black;
    width: 65vw;
    border-radius: 15px;

}

.addressSearchResults ul {
    display: flex;
    flex-direction: column;
}

.onboardingContent ul li {
    list-style: none;
    ;
}

.addressSearchResults ul li {
    padding: 15px 20px 15px 20px;
    list-style: none;
    transition: background-color 0.2s;
    background-color: #000;
    /* border-radius: 0px !important; */
}

.addressSearchResults ul li:hover {
    background-color: #ff9d90;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.addressSearchResults ul li:hover {
    background-color: #ff9d90;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}


/******** Onboarding ********/

.onboardingWrapper {
    /* width: 1050px; */
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 400px; */
    border-radius: 15px;
    text-align: left;
    z-index: 4;
    color: #fff;
}


.backgroundOverlay {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    width: 100vw;
    z-index: 3;
    /* background:#000; */
    /* opacity: 0.2; */
    /* filter:blur(5px); */
    position: absolute;
    flex-direction: column;
}

.onboardingContent {
    background-color: #0C1821;
    /* Rich Black */
    max-width: 800px;
    padding: 10px 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: absolute;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    width: 100vw;

}


.rowSplit {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    /* padding: 20px 0px;    */
}

.rowSplitAddress {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}



.inputTextBox {
    margin: 10px 0px;
    border-radius: 8px;
    border: none;
    width: 100%;
    color: #fff !important;
    background: #223646;
}

.inputTextBox::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ddd;
}

.inputTextBox:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ddd;
    opacity: 1;
}

.inputTextBox::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ddd;
    opacity: 1;
}

.inputTextBox:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ddd;
}

.inputTextBox::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ddd;
}

.inputTextBox::placeholder {
    /* Most modern browsers support this now. */
    color: #ddd;
}

.inputTextBox:focus {
    outline-style: solid;
    outline-color: #5384ac;
    outline-width: 2px;
    /* outline: #FFDD00 !important; */
    /* outline: none !important; */
    caret-color: #223600;
}

.smallInput {
    width: 80px;
    padding: 15px 20px;
}

.bigInput {
    padding: 15px 20px;

}

.addressInput {
    z-index: 4;
}

.onboardingSearchButton {
    z-index: 5;
    padding: 10px 15px;
    background-color: #0088FF;
    border-radius: 5px;
    margin-right: -65px;
    color: white;
    font-weight: 800;
    border: none;
    cursor: pointer
}

.onboardingWrapper form {
    width: 100%;
}


.onboardingResults {
    position: relative;
    opacity: 0;
    /* margin-top: -400px !important; */
}


.onboardingResults ul {
    padding-top: 50px;
    margin-top: -100px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: #223646;
    border-radius: 10px;

}

.onboardingResults ul li {
    padding: 15px 20px 15px 20px;
    border-radius: 15px;
    color: white;
    margin-bottom: 10px;
}

/* buttons */
.onboardingVerify {
    border: none;
    border-radius: 8px;
    background: #FF0000;
    opacity: 0.8;
    padding: 15px 25px;
    height: min-content;
    font-size: 0.9rem;
    font-family: 'Greycliff CF', sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
    color: #fff !important;
}


.submitButton {
    font-size: 0.9rem;
    font-family: 'Greycliff CF', sans-serif;
    letter-spacing: 0%;
    color: #000;
    padding: 15px 29px;
    border-radius: 50px;
    border: none;
    font-weight: 900;
    text-align: center;
    background: #FFD400;
    transition: ease-out 0.12s;
    cursor: pointer;
}

.submitButton:hover {
    background: #FFAE00;
}


.rowSplitAddress button {
    position: absolute;
    right: 90px;
    z-index: 5;
}

/* fonts */

.onboardingWrapper h3 {
    font-size: 2.2rem;
    font-family: 'Sofia-pro', sans-serif;
    letter-spacing: 0.1px;
    color: #fff;
    padding: 20px 0px;
    margin-bottom: 10px;
    font-weight: 500;
    ;
}

.onboardingWrapper p {
    font-family: 'Greycliff CF', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;

}

.onboardingContent form {
    /* width: 500px; */
}

.inputTextBox {
    font-family: 'Greycliff CF', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
}


.onboardingContent h3 {
    font-weight: 800;
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    .onboardingContent {
        padding: 50px 80px;
        height: auto;
        max-width: 600px;
        border-radius: 20px;
        min-height: unset;
    }

    .onboardingSearchButton {
        position: relative;
        margin-right: -5px;
    }

    .onboardingContent h3 {
        font-size: 3rem;
    }


    .welcomeSearchBar {
        width: 40vw;
    }

    .addressSearchResults {
        width: 40vw;
    }

}